<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">32260280</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@//myoracle12c.senecacollege.ca:1521/oracle12c</property>
        <property name="hibernate.connection.username">cjv805_191a19</property>
    </session-factory>
</hibernate-configuration>
