/* The styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 140%;
	color: teal;

    text-align: center;
}

label {
	float: left;
	width: 7em;
	margin-bottom: 0.5em;
	font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
	/* An attribute selector */
	width: 15em;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

span {
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

br {
	clear: both;
}

/* The styles for the classes */
.pad_top {
	padding-top: 0.25em;
}

.margin_left {
	margin-left: 0.5em;
}

.seneca {
	width: 200px;
}

.topBar {

    width: 800px;
    margin: auto;
}

.topBar li {
	float: left;
	margin: 10px 40px;
	list-style: none;
	font-weight: bolder;
}

body .login{
	text-align: center;
}

.empList {
	/*for displaying the employee list*/
}