<?xml version="1.0" encoding="UTF-8"?>
	<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0"
	>
    <display-name>HR Management</display-name>
    <servlet>
        <display-name>Employee</display-name>
        <servlet-name>Employee</servlet-name>
        <servlet-class>controller.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddSuccess</display-name>
        <servlet-name>AddSuccess</servlet-name>
        <servlet-class>controller.AddSuccess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Employee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSuccess</servlet-name>
        <url-pattern>/AddSuccess</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>addEmployee.jsp</welcome-file>
    </welcome-file-list>
</web-app>